* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f3eed9;
}

/* HEADER */

header {
  background-color: #a91f29;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.header .look-for {
  height: 30px;
  width: 500px;
  border-radius: 20px;
}

.logo {
  text-decoration: none;
  color: black;
}

/* Navigation */

nav{
  border-bottom: 1px solid #000;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
  margin-bottom: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: whitesmoke;
}

nav ul li a:hover {
  color: #64b1f3;
  font-weight: bold;
}

/* MAIN */

.main-container {
  padding: 2vw;
}

/* .slider {
  background: url(../images/banner.gif) center / cover no-repeat;
}

@media (max-width: 480px) {
  .slider {
    height: 20vh;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .slider {
    height: 40vh;
  }
}

@media (min-width: 1024px) {
  .slider {
    height: 70vh;
  }
} */

.title {
  text-align: center;
  padding: 10px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.category {
  border-radius: 50%;
}

@media (max-width: 480px) {
  .category {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .category {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 1024px) {
  .category {
    width: 100px;
    height: 100px;
  }
}

.top-offers {
  padding: 10px;
}


.trending-brands{
  text-align: center;
}

.trending-brands__logos{
display:flex;
}

.trending-brands ul{
  width: 100%; 
  flex-wrap: wrap; 
  list-style: none; 
  display: flex; 
justify-content: space-evenly;
}

.trending-brands ul li img{
  /* padding: 5px; */
  width: 150px;
  height: 150px;
  margin: 10px;
}

.trending-brands ul li img:hover{
  transform: translatY(-15px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* FOOTER */

footer .footer__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffa69b;
}

footer .footer__info .methods {
  padding: 2vw;
}

footer .footer__info .social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw;
}

footer .footer__info .social .social-item {
  margin: 1rem;
}

footer .footer__info .social .social-item i:hover {
  transform: translatY(-35px);
  /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); */
}

footer .footer__copyright {
  text-align: center;
  padding: 5px;
  background-color: #a91f29;
  color: white;
}

/* Offers */

.custom-card:hover {
  transform: translatY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.custom-card .card__body{
  padding: 10px;
  text-align: center;
}

.card .card__picture img{
  width:100%;
  max-height: 300px; 
  object-fit:cover;
}



/*
.offers .card .card__product{
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.offers .card .card__product-name {
  font-weight: 400;
}

.offers .card .card__product-price {
  font-weight: 600;
}

.offers .card .card__product-fees {
  padding: 0 1rem;
  font-weight: 300;
} */

/* Men - Women */

.offers__container {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  height: 100%;
  width: 1200px;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 10px;
}

.offers__container .card {
  min-width: 210px;
  height: 300px;
}

.offers__container .card .card__picture {
  width: 210px;
}

@media (max-width: 480px) {
  .offers__container {
    display: none;
  }
}

.offers__container .card {
  border-color: black;
  border-style: solid;
}

.offers__container .card .card__picture {
  height: 300px;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .offers__container .card .card__picture {
    height: 150px;
  }
}

@media (min-width: 1024px) {
  .offers__container .card {
    width: 400px;
    height: 380px;
  }

  .offers__container .card .card__picture {
    width: 210px;
    height: auto;
  }
}

.brands {
  display: flex;
  margin-top: 20px;
  border-color: rgba(0, 0, 0, 0.034);
}

.brands__item {
  border-color: rgba(0, 0, 0, 0.116);
  border-style: solid;
  background: rgba(0, 0, 0, 0.089);
  width: 500px;
  height: 250px;
}

.announcements {
  margin-top: 20px;
  border-color: rgba(0, 0, 0, 0.034);
}

.announcements__item {
  margin-top: 10px;
  border-color: rgba(0, 0, 0, 0.116);
  border-style: solid;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  height: 300px;
}

.announcements__item-first{
  background-image: url('../images/store-first.jpg');
}

.announcements__item-second{
  background-image: url('../images/store-second.jpg');
}

/* Contact */

.contact {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content:space-around;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.contact{
  margin: 2rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.068);
}

@media (max-width: 990px){
  .contact .contact__form{
    margin-bottom: 20px;
  }
}

.contact .contact__form input{
  width: 220px;
}

@media (min-width: 480px) {
  .contact .contact__form input {
    width: 400px;
  }
}

.contact .contact__address iframe{
  width: 250px;
  height: 150px; 
}

@media (min-width: 480px){
  .contact .contact__address iframe{
    width: 400px;
    height: 250px; 
  }
}

/* Swiper */

.swiper {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 15px;
  text-align: start;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.116);
}

.swiper-slide img {
  height: 320px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* Carousel */

.carousel.carousel-fade .item {
  opacity: 0;
  filter: alpha(opacity=0); /* ie fix */
}

.carousel.carousel-fade .active.item {
  opacity: 1;
  filter: alpha(opacity=100); /* ie fix */
}

.carousel-inner .carousel-item img{
  display: none;
}

@media (max-width: 480px) {
  .carousel{
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .carousel-inner .carousel-item img{
    height: 60vh; 
    object-fit: cover;
  }
}

@media (min-width: 1024px) {
  .carousel-inner .carousel-item img{
    height: 90vh; 
    object-fit: cover;
  }
}


.bordered-title {
  -webkit-text-stroke: 2px black;
  color: transparent; 
}

.bordered-paragraph {
  -webkit-text-stroke: 2px black;
}

/* @media (max-width: 480px) {
  .slider {
    height: 20vh;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .slider {
    height: 40vh;
  }
}

@media (min-width: 1024px) {
  .slider {
    height: 70vh;
  } */

.clipped {
  clip: rect(0 0 0 0);
  border: 0;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  display: block;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: -1;
}
