footer{

  .footer__info{
    @include flexbox-no-align(space-around, wrap);
    background-color: map-get($colors, terciary);

    .methods{
      padding: 2vw;
      color: #fff;

      .methods-visa {
        width: 80px;
      }
      .methods-mercadopago {
        width: 120px;
      }
      .methods-correo {
        width: 110px;
      }
    }

    .social{
      @include flexbox(center, center);
      padding: 2vw;

      .social-item{
        margin: 1rem;
        font-size: 30px;

        i:hover {
          transform: translatY(-35px);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .footer__copyright{
    text-align: center;
    padding: 5px;
    background-color: map-get($colors, primary);
    color: white;
  }
}