header {
  background-color: map-get($colors, primary);

  .header {
    @include flexbox(space-between, center, wrap);
    padding: 10px;

    @media (max-width: 800px) {
      justify-content: space-evenly;
    }

    .logo {
      text-decoration: none;
      color: black;

      @media (max-width: 900px) {
        display: none;
      }
    }

    .look-for {
      height: 30px;
      width: 500px;
      padding: 18px;
      margin: 5px;
    }
  }

  nav {
    border-bottom: 1px solid #000;

    ul {
      @include flexbox(space-evenly, center, wrap);
      padding: 10px;
      margin-bottom: 0;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: whitesmoke;

          &:hover {
            color: #64b1f3;
            font-weight: bold;
          }
        }
      }
    }
  }
}
